* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.5)),
    url(/assets/img-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

#input {
  text-align: right;
  color: white;
  height: 50px;
  border-radius: 5px;
  font-size: 35px;
  border: 1px solid rgb(246, 237, 237);
  box-shadow: 5px 5px 5px rgb(38, 55, 124);
  margin-bottom: 6px;
}

#div-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: rgb(78, 145, 89);
  background: linear-gradient(
    90deg,
    rgb(38, 55, 124) 91%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 5px 5px 5px rgb(195, 205, 243);
  border-radius: 10px;
  color: white;
  width: 50px;
  height: 50px;
  margin: 3px;
  font-size: 1em;
}
